<div id="leaderboard">
	<table>
		<h1>Leaderboard</h1>
		<% @rankings.each_with_index do |ranking, i| %>
			<tr>
				<td><%= link_to((image_tag ranking.user.avatar.url(:medium), class: 'avatar-small'), profile_path(ranking.user.username)) %></a></td>
				<td><%= link_to ranking.user.username, profile_path(ranking.user.username), class: 'display-name' %></td>
				<td><%= ranking.score %>
			</tr>
		<% end %>
	</table>
</div>
<div id="hero">
	<p>
		<a href="/games/new">Create a New Game</a>
		<a href="/games">View Recent Games</a>
	</p>
</div>
