<div id="leaderboard">
	<table>
		<h1>Leaderboard</h1>
		<% @rankings.each_with_index do |ranking, i| %>
			<tr>
				<td><%= image_tag ranking.user.avatar.url(:medium), class: 'avatar-small' %></td>
				<td><%= i + 1 %></td>
				<td><%= ranking.user.username %></td>
				<td><%= ranking.score %>
			</tr>
		<% end %>
	</table>
</div>
<div id="hero">
	<p>
		<a href="/games/new">Create a New Game</a>
		<a href="/games">View Recent Games</a>
	</p>
</div>
