<body>
  <div id='hero'>
    <h1>Welcome to PingPong</h1>
    <p><%= image_tag User::DEFAULT_AVATAR_URL, class: 'avatar-home' %></p>
    <a href="/signup">Let's Get Started</a>
  </div>
  <div id='home'>
    <div id="games-gray">
      <%= render partial: 'games/recent' %>
    </div>
  </div>
</body>
