<div id="hero">
  <h1 style="padding: 10% 0 10% 0"> <%= "Player “#{params[:username]}” could not be found." %></h1>
  <p>
    <a href="/games/new">Create a New Game</a>
    <a href="/leaderboard">View Leaderboard</a>
  </p>
</div>
