<body>
  <div id='hero'>
    <%= image_tag @user.avatar.url(:medium), class: 'avatar-home' %>
    <h1 style="padding-top:10px"><%= @user.username %></h1>
    <p>
      <a href="/leaderboard">View Leaderboard</a>
      <a href="/games">View Recent Games</a>
    </p>
  </div>
  <div id='home'>
    <div id="games-gray">
      <%= render partial: 'games/recent' %>
    </div>
  </div>
</body>
