<table>
  <h1>Recent Games</h1>
  <th>Win</th><th></th><th></th><th></th><th>Loss</th>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to((image_tag game.winner.avatar.url(:medium)), profile_path(game.winner.username)) %></td>
      <td><%= link_to game.winner.username, profile_path(game.winner.username) %></td>
      <td>vs</td>
      <td><%= link_to game.loser.username, profile_path(game.loser.username) %></td>
      <td><%= link_to((image_tag game.loser.avatar.url(:medium)), profile_path(game.loser.username)) %></td>
    </tr>
  <% end %>
</table>
