/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

::-webkit-input-placeholder { color: white; }
input:-webkit-autofill { color: transparent !important; }

html {

  height: 100%;
}

body {

	height: 100%;
	color: white;
	font-color: white;
	text-align: center;
	font-family: helvetica;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-image: -webkit-linear-gradient(#5CCCCC, #009999);
	background-image: linear-gradient(#34D1B2, #00A383);
}

#home {

	background-color: white;
	margin: auto;
	height: 1000px;
	padding: 20px 0 20px 0;
}

#hero {
	height:500px;
	color: white;
	padding: 1em 0 1em 0;
	font-size: 1em;

	.container {
	}

	h1 {
		font-weight: 100;
		margin: 0;
		font-size: 3em;
	}

	p {
		color: white;
		border-radius: 1em;
		text-decoration: none;

	}

	a {
		color: white;
		display: inline-block;
		padding: 1em;
		border: 1px solid white;
		border-radius: 1em;
		text-decoration: none;
	}
}

#leaderboard {
	font-weight: 100;

	h1 {
		font-size: 2em;
		font-weight: 100;
	}

	h2 {
		font-weight: 100;
		font-size: 18px;
	}

	table {
		margin: auto auto;
	  text-align: left;
	}

	td {
		text-align: center;
		color: white;
		padding: 20px 10px 0 10px;
		font-size: 20px;
	}

	p {
		padding: 25px 0 0 0 ;
	}
}

#opponents {

	h1 {
		font-size: 2em;
		font-weight: 100;
		color: white;
		padding-bottom: 20px;
	}

	table {
		margin: auto auto;
	}

	td {
		padding: 0 10px 30px 10px;
	}

	p {
		text-align: center
	}
}

input.login {
	color: white;
	font-size: 20px;
	font-family: helvetica;
  height: 25px;
  width: 300px;
  background-color: transparent;
  border-width: 0px 0px 1px 0px;
  border-color: white;
  position: relative;
}

label.login {
	font-size: 20px;
}

.submit {
	background-color: transparent;
	color: white;
	font-family: helvetica;
	font-size: 1em;
	display: inline-block;
	padding: 0.8em;
	border: 1px solid white;
	border-radius: 1em;
	text-decoration: none;
}

.avatar {
	border: 2px solid white;
	width: 150px;
	height: 150px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.avatar-small {
	border: 2px solid white;
	width: 75px;
	height:75px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.avatar-home {
	border: 2px solid white;
	width: 350px;
	height: 350px;
	-webkit-border-radius: 300px;
	border-radius: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
